@using Movie_Directory_with_ASP.NET_Core_MVC.Models
@model Movies

<div class="text-align">
    <h1>About the Movie</h1>
    <h2>@Model.Title (@Model.Year)</h2>
    <p><strong>Genre:</strong> @Model.Genre</p>
    <p><strong>Rating:</strong> @Model.Rating</p>
    <p><strong>Description:</strong> @Model.Description</p>
</div>
